@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2a2a2a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* colors */
  --color-primary: #2a2a2a;
  --color-link: #4739f9;
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2a2a2a;
    --foreground: #ededed;
  }
}

